certificates
.env.prod

android/fastlane/report.xml
ios/fastlane/report.xml

# OSX
#
.DS_Store
ios/Pods
ios/AppStore_org.reactjs.epicerie-radar.mobileprovision
ios/DXF6L4V5EM.cer
ios/DXF6L4V5EM.certSigningRequest
ios/DXF6L4V5EM.p12

ios/Pods

# Xcode
#
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
project.xcworkspace

# Android/IJ
#
*.iml
.idea
.gradle
local.properties

# node.js
#
node_modules/
npm-debug.log

# BUCK
buck-out/
\.buckd/
android/app/libs
android/keystores/debug.keystore
